__pycache__/
.idea/
.venv/
reports/
chroma_memory/
chroma_db/
data/reports/
report_template/

requirements.txt
config-info.yml
test.py
test_akshare_connection.py
test_yfinance.py
test_outer_mcp.py
test_memory.py
test_report.py
todo_list.md
